body {
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2c2c2c;
    color: white;
}

.screen {
    display: none;
    text-align: center;
}

.screen.active {
    display: block;
}

.form-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

input, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #444;
    color: white;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #573b8a;
    border: none;
}

button:hover {
    background-color: #6a4a9c;
}

#game-board {
    display: grid;
    gap: 5px;
    margin: 20px auto;
    border: 2px solid #555;
    padding: 5px;
    background-color: #333;
}

.cake {
    width: 50px;
    height: 50px;
    background-color: #f0e68c; /* Khaki - represents a cake */
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.cake:hover {
    background-color: #e0d67c;
}

.cake.eaten {
    background-color: #555;
    cursor: not-allowed;
}

#game-info, #game-controls {
    margin-bottom: 20px;
}

.back-to-home-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #6c757d; /* A neutral bootstrap 'secondary' color */
}

.back-to-home-btn:hover {
    background-color: #5a6268;
}

.btn-danger {
    margin-top: 10px;
    background-color: #dc3545; /* A bootstrap 'danger' color */
}

.btn-danger:hover {
    background-color: #c82333;
}

.cake.my-poison {
    box-shadow: 0 0 0 4px #8a63d2;
    /* 使用 box-shadow 来添加外框，这样不会影响布局 */
    z-index: 10;
}